extends index-layout


block header 
  div(id="header" class="index-header")
    h1(class="index-title-text")= siteTitle
    h3(class="index-subtitle-text")= siteSubtitle
    <!--    Made by Erik Terwan    -->
    <!--   24th of November 2015   -->
    <!--        MIT License        -->
    nav(id="nav" role="navigation")
      div(id="menuToggle")
        input(type="checkbox")
        span 
        span 
        span 
        ul(id="menu")
          a(href="/")
            li Binary Test Errors
          a(href="/about")
            li About This Project


block content
  script 
    include ../public/javascripts/index.js
  include footer.pug